body{
    background-color: #31304D;
    color: whitesmoke;
    margin: 0;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

h2{
    font-size: 60px;
    letter-spacing: 3px;
    text-align: center;
}

.year{
    font-size: 4em;
    font-weight: bold;
}

.countdown{
    background-color: rgba(0, 0, 0, .1);
    margin: 30px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown div{
    margin: 0 15px;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: -25px;
    position: relative;
    text-align: center;
    width: 100px;
}

.countdown div::before{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: .35em;
    line-height: 35px;
    letter-spacing: 2px;
    width: 100%;
    height: 35px;
}

.countdown #day::before{
    content: 'Days';
}

.countdown #hour::before{
    content: 'Hours';
}

.countdown #minute::before{
    content: 'Minutes';
}

.countdown #second::before{
    content: 'Seconds';
}